* {
    margin: 0px;
    padding: 0px;    
}


    body {
        background-image: url('WhatsApp Image 2024-08-24 at 12.06.59 PM copy.jpeg');
        background-size: 100% 100%; /* 80% width and 80% height of the container */
     
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh; 
    }
     


ul {
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 40px;
}

.main ul li {
    display: inline;
    margin-left: 80px;
}

.main ul li a {
    text-decoration: none;
    color:white; 
    transition: 0.5s ease;
}

.main ul li a:hover {
    
    
}
