
body {
   background-color: black;
}

.container {
   margin: 100px 0 0 200px;
   width: 70%;
   height: 450px;
   display: flex;
   justify-content: center;
   gap: 10px;
}

.container img {
   width: 10%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
   border: 2px solid rgba(15, 14, 14, 0.684);
   transition: 0.5s;
   cursor: pointer;
}

.container img.selected {
   width: 55%;
   filter: none;
}

.container img:not(.selected) {
   filter: blur(5px); 
}